@import "config";
@import "reset";
@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,700");

/* stylelint-disable */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #FFFFFF;
  color: $white;
  font-family: "Raleway";
}

h1 {
  font-size: 52px;
}
